{% extends "base/page.html" %}
{% load static %}

{% block title %}Create Your Account{% endblock %}
{% block content %}

<h1>Create your Account on MHTTC</h1>
<hr>
<form method="POST" class="post-form">
 {% csrf_token %}
  <div class="form-group">
     <label for="email">Email:</label> 
     <input class="form-control" type="text" name="email" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="email">
      <span class="helptext">Please enter the email address that is associated with this invitation.</span>
  </div>
  <div class="form-group">
    <label for="center">Your Center</label>
    <select class="form-control" name="center" id="center">{% for center in centers %}
      <option value="{{ center.id }}">{{ center.name }}</option>{% endfor %}
    </select>
    <span class="helptext">The center that you are associated with.</span>
  </div>
  <div class="form-group">
    <label for="current_password">Password:</label>
    <input class="form-control" type="password" name="password" autocomplete="current-password" required id="current_password">
    <span class="helptext">Please enter the temporary password.</span>
  </div>
  <div class="form-group">
    <label for="password1">New Password:</label>
    <input class="form-control" type="password" name="password1" autocomplete="current-password" required id="password1">
    <input class="form-control" type="password" name="password2" autocomplete="current-password" required id="password2">
    <span class="helptext">Please enter and confirm a new password.</span></p>
  </div>
  <div class="form-group">
      <input type="submit" value="Login" class="btn btn-primary pull-right" />
  </div>
</form>
{% endblock %}
