{% load static %}
  <header class="navbar navbar-horizontal navbar-expand navbar-dark flex-row align-items-md-center ct-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="{% url 'index' %}" aria-label="Bootstrap">
      <img src="{% static 'img/logo/white.png' %}">
    </a>
    <ul class="navbar-nav flex-row mr-auto ml-4 d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/vsoch/mhttc/issues" target="_blank">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://vsoch.github.io/mhttc" target="_blank">Docs</a>
      </li>
    </ul>
    <div class="d-none d-sm-block ml-auto">
      <ul class="navbar-nav ct-navbar-nav flex-row align-items-center">
        {% if FACEBOOK_USERNAME %}<li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/{{ FACEBOOK_USERNAME }}" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>{% endif %}
        {% if TWITTER_USERNAME %}<li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/{{ TWITTER_USERNAME }}" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>{% endif %}
        {% if INSTAGRAM_USERNAME %}<li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/{{ INSTAGRAM_USERNAME }}" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>{% endif %}
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/vsoch/mhttc" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
    {% if request.user.is_authenticated %}<form style="margin-top: 20px;" method="GET" action="{% url 'search' %}">
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="q" value="" placeholder="Search..." id="search-input">
      </div>
    </form>{% else %}<form style="margin-top: 20px;" method="GET" action="https://mhttcnetwork.org/search/node" target="_blank">
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="keys" value="" placeholder="Search MHTTC org..." id="search-input">
      </div>
    </form>{% endif %}
    <button class="navbar-toggler ct-search-docs-toggle d-block d-md-none ml-auto ml-sm-0" type="button" data-toggle="collapse" data-target="#ct-docs-nav" aria-controls="ct-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>
