{% load static %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/js.cookie.js' %}"></script>
  <script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'js/jquery-scrollLock.min.js' %}"></script>
  <script src="{% static 'js/anchor.min.js' %}"></script>
  <script src="{% static 'js/clipboard.min.js' %}"></script>
  <script src="{% static 'js/holder.min.js' %}"></script>
  <script src="{% static 'js/prism.js' %}"></script>
  <script src="{% static 'js/argon.min.js' %}"></script>
