{% extends "base/page.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div style="padding:20px">
            <h2>Terms and Privacy Policy</h2>
            <hr>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vR_izGFmuiLNETOzeADZ4pLgu5dehUrpbwMiWhjQbDo5ghmQYSZB_-iJZpu2Lb2VLnV3fSjiyWavl86/pub?embedded=true" style="width:100%; border:none; min-height:600px"></iframe>
        </div>
    </div>
</div>

{% endblock %}
