{% extends "base/page.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row" style='margin-bottom:20px'>
    <div class="col-md-12">
      <h1>About the MHTTC Network Coordinating Office</h1>
    </div>
  </div>
   <div class="row">
     <div class="col-md-12">
       <div style="border: 1px solid rgba(0,0,0,.125)">
         <div class="card-body">
           <h5 class="card-title">Local Contact</h5>
           <p class="card-text">
             <p>If you need help, you can <a href="{% url 'contact' %}">contact the Network Coordinating Office</a>
              {% if HELP_INSTITUTION_SITE %}, or visit <a href="{{ HELP_INSTITUTION_SITE }}">here</p>{% else %}.{% endif %}
           </p>
       </div>
    </div>
</div>
{% endblock %}
