{% extends "base/page.html" %}
{% load static %}
{% block content %}
        <div class="ct-page-title">
          <h1 class="ct-title" id="content">
            Welcome to the MHTTC Network Intranet!
          </h1>
          <div class="avatar-group mt-3">
          </div>
        </div>
        <p class="ct-lead">
          Your home for all things MHTTC. Click on the left toolbar for tools and information.
        </p>
        <hr>
        <div class="text-center mb-5">
          <img src="{% static 'img/mhttc.png' %}" class="img-fluid img-center" />
        </div>
{% endblock %}
