{% extends "base/page.html" %}
{% load static %}
{% block content %}


        <div class="ct-page-title">
          <h1 class="ct-title" id="content">
            Quick Links
          </h1>
        </div>

<h3><a href="https://stanfordmedicine.app.box.com/s/i2a3acnwnu5tyabiagncodnwiqlfijse" target="_blank">MHTTC Shared Folder</a></h3>
This is the main folder available to all MHTTC Staff, containing information on working groups, GPRA, the TTC Hub, materials for new staff members, and more! Links 2-9 are located within this main folder.

<h3><a href="https://stanfordmedicine.app.box.com/s/2l7nij5ws69kmtasutkfdtbs6dxbx2pm" target="_blank">MHTTC Style Guide</a></h3>
This guide contains information on how to brand materials provided by your Center, as well as information on the various colors, fonts, and other elements used by the Network.

<h3><a href="https://stanfordmedicine.app.box.com/s/ds6ekdk5v1w3jno3vnhe52pkil6yvusy" target="_blank">MHTTC New Staff Orientation</a></h3>
This orientation is for new staff members to learn more about the MHTTC Network and what we do.

<h3><a href="https://stanfordmedicine.app.box.com/s/y0hu1vuexhepw0evnkua7omzly2zbita" target="_blank">MHTTC Staff List</a></h3>
This list contains the names and emails for all  MHTTC Centers across the country.

<h3><a href="https://stanfordmedicine.app.box.com/s/ex6z3x7w1n7a30pitwfupstqiuu7ypn0" target="_blank">MHTTC and Other Logos</a></h3>
This folder contains logos that Centers can utilize for marketing purposes. They are available in black, white, and gray and orange.

<h3><a href="https://stanfordmedicine.app.box.com/s/cfzxb8080p72royfezbn7riwbewg0ek6" target="_blank">MHTTC Website Resources</a></h3>

<h3><a href="https://stanfordmedicine.account.box.com/login?redirect_url=https%3A%2F%2Fstanfordmedicine.app.box.com%2Fs%2F61cqpiz28h5074ny77tymr4onqe294hc" target="_blank">MHTTC and TTC Groups</a></h3>
This folder contains information on the 4 Working Groups and 5 Coordination Groups within the MHTTC Network, and the 6 groups across the TTC Network that the MHTTC Network is a part of.

<h3><a href="https://stanfordmedicine.app.box.com/s/bq7p36g1vnw7md6pr5m4kudhd3zizccj" target="_blank">GPRA Documents/Resources</a></h3>
This folder contains information on how to utilize GPRA for your events, including generating event codes and creating language for post-event and follow-up surveys.

<h3><a href="https://www.lanitek.com/GPRAOnline/Default.aspx" target="_blank">GPRA Online</a></h3>
This link is to the GPRA system, operated by Lanitek, where you can create events and send post-event and follow-up surveys for evaluation purposes.

<h3><a href="https://spars.samhsa.gov/" target="_blank">SPARS Data Download and Visualization</a></h3>
This link is to the SPARS database, where you can download and visualize data from all events that you have GPRAd.

<h3><a href="https://ttchub.org/regcenters/webadmin/login.aspx" target="_blank">TTC Hub</a></h3> 
This link is to the MHTTC Hub, where you can fill out your bi-monthly update, begin your annual report, and submit your yearly work plan.

{% endblock %}
