{% extends "base/page.html" %}
{% load static %}
{% block content %}


        <div class="ct-page-title">
          <h1 class="ct-title" id="content">
            The MHTTC Network Shared Resources
          </h1>
        </div>

         <h2>Shared Folder</h2>
        <p class="ct-lead">
          The MHTTC Shared Folder contains many important and valuable resources for the Network, such as:
        </p>
        <p>
        <ul>
          <li>GPRA and Evaluation documents</li>
          <li>Working Group agendas, notes, and recordings</li>
          <ul>
            <li>Cultural Responsiveness Working Group</li>
            <li>Dissemination & Implementation Working Group</li>
            <li>Early Psychosis Working Group</li>
            <li>Workforce Development Working Group</li>
         </ul>
         <li>Instructional Design and Course Development on HealtheKnowledge</li>
         <li>Branding materials, including MHTTC logos, Center images, website maintenance tips, and more</li>
         <li>School Mental Health Initiative information</li>
         <li>MHTTC Network Coordinating Office Trainings</li>
         <li>MHTTC Reports</li>
         <li>Notes from previous MHTTC Meetings</li>
         <li>MHTTC Staff Roster</li>
         <li> MHTTC and TTC Guidance Documents</li>
         <li>And more!</li>
       </ul>
</p>
       <p>There is also a recorded MHTTC Orientation for new staff under: \MHTTC or TTC Operating Procedures\MHTTC NCO Trainings.<br><strong style="font-weight:600">Access the Shared Folder here:  <a href="https://stanfordmedicine.box.com/s/i2a3acnwnu5tyabiagncodnwiqlfijse" target="_blank">https://stanfordmedicine.box.com/s/i2a3acnwnu5tyabiagncodnwiqlfijse</a></strong></p>

{% endblock %}
