{% extends "base/page.html" %}
{% load static %}
{% block content %}


<h1>NCO Zoom Room Request Form</h1>

<p>The MHTTC NCO has a Shared MHTTC Zoom Webinar Room for any MHTTC webinar or event to accommodate up to 3,000 webinar attendees. Centers that anticipate large attendance (over 1,200; or significantly more than your local Zoom account) can request access. Below are responsibilities for Centers and the NCO when a Center requests to use the webinar room. At the end of this information is a link to a request form.</p>

<h2>Responsibilities of the Center Requesting Use of the Zoom Webinar Room </h2>
<ul>
<li>Submit completed Shared Zoom Webinar Room Request Form at least 7 days prior to the scheduled webinar event. Plan your marketing and registration based on the time frames outlined in this process. </li>
<li>Designate staff for the following roles: Host, Co-host, Panelist(s), Logistics Coordinator(s), Q&A and Chat Box monitors. View detailed information on the Host, Co-host, and Panelist(s) roles <a href="https://support.zoom.us/hc/en-us/articles/360000252726-Roles-in-a-webinar" target="_blank">here</a>. The Q&A Box monitor will monitor the Q&A pod and answer/field questions to panelist(s) as needed, while the Chat Box monitor will monitor the chat box and respond to messages from attendees as needed. Please ensure your host has been trained on the Zoom webinar platform.<ul>
<li>We also recommend having at least 3 people fill the role of host, co-host, logistics coordinator, Q&A monitor, and chat box monitor. You can put the same person for multiple roles, if needed.</li></ul></li>
<li>Ensure the Logistics Coordinator maintains timely communication with NCO staff. This person is the main contact for logistical questions related to the webinar event and Zoom room set up, as well as the main contact on the event and registration confirmation emails (if using this feature) automatically sent to registrants by Zoom. </li>
<li>Ensure everyone on the webinar planning team is clear about their role. </li>
<li>Decide whether registration will be set up through Zoom or another platform. </li>
<li>Get a GPRA link. </li>
<li>Promote and market the event. </li>
</ul>

<h2>Responsibilities of the MHTTC NCO </h2>

<li>Upon receipt of the completed Request Form, the NCO will provide the webinar room link for attendees, panelists, and host/co-host(s) within 2 business days for the Center to use in their marketing and promotional materials.  </li>
<li>Work with the Logistics Coordinator to:<ul>
<li>Respond to .</li>
<li> Schedule a practice session with the webinar host, co-hosts, and panelists at least 2 days prior to the webinar to ensure that host privileges can be transferred smoothly to the Center hosts/co-hosts during the webinar.</li>
</ul></li>
<li>Provide support 30 minutes prior to a webinar to ensure the webinar host and co-host(s) gain full access to host privileges.</li><li>Send list of attendees (if Zoom registration was used) to the Center immediately following the webinar. </li>
</ul>

<h2>Information provided by the requesting Center via the Request Form: </h2>
<li>Webinar title, date, time and duration</li>
<li>Name and email address for: <ul>
<li>Host, co-host(s), and panelist(s) </li>
<li>Logistics Coordinator(s)  </li>
<li>Designated Q&A Monitor  </li>
<li>Designated Chat Box Monitor </li>
<li>Name of co-sponsor(s), if applicable</li>
<li>If utilizing Zoom registration, the following information must also be provided:</li>
<li>Webinar description </li>
<li>MHTTC logo/banner for your Center </li>
<li>Information you wish to collect from attendees via the Zoom registration form:<ul> 
<li>Last name, state, job position/role (Zoom requires at least registrants’ first name and email address be collected via the registration form) 
      <li>Custom questions you would like registrants to respond to prior to the webinar (optional) </li>
      <li>1 additional image you’d like on the registration page (optional) </li>
      <li>Up to 3 speaker bios and photos (optional) </li>
</ul></li></ul></li>
<li>GPRA Link (Zoom will automatically direct attendees to GPRA when the webinar ends and attendees close the webinar window) </li>
</ul>

<p>If you would like to submit a request to use the NCO Zoom Webinar Room, click <a href="https://forms.gle/esVKKCXFgfYn66eF7" target="_blank">here.</a></p>

{% endblock %}
