{% extends "base/page.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}

    {% include 'messages/message.html' %}
    {% if request.user.is_anonymous %}
        <div class="ct-page-title">
          <h1 class="ct-title" id="content">
            Login to MHTTC
          </h1>
          <div class="avatar-group mt-3">
          </div>
        </div>
    {% if state == "not-allowed "%}
        <p class="ct-lead">
          This account does not exist. If you believe this message is in error, please <a href="{% url 'contact' %}">get in touch.</a>
        </p>{% else %}
        <p class="ct-lead">
          Welcome to the Mental Health Technology Transfer Center Network! Please login using the form to the right.
        </p>{% endif %}
        <hr>
        <div class="text-center mb-5">
          <img src="{% static 'img/drawkit/unlock-password.png'%}" style="width:90%" class="img-fluid img-center" />
        </div>
    {% else %}
        <div class="ct-page-title">
          <h1 class="ct-title" id="content">
            Welcome {{ request.user.username }}!
          </h1>
          <div class="avatar-group mt-3">
          </div>
        </div>
        <p class="ct-lead">
          An user-friendly, open source and beautiful dashboard based on Bootstrap 4.
        </p>
        <hr>
        <div class="text-center mb-5">
          <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/docs/getting-started/overview.svg" class="img-fluid img-center shadow" />
        </div>
        <p>We at Creative Tim have always wanted to deliver great tools to all the web developers. We want to see better websites and web apps on the internet.</p>
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="icon icon-shape bg-gradient-primary rounded-circle text-white mb-3">
              <i class="ni ni-html5"></i>
            </div>
            <h6>Developer First</h6>
            <p class="description">Argon Dashboard is a "Developer First" product, with a lot of variables for colors, fonts, sizes and other elements.</p>
          </div>
          <div class="col-md-4">
            <div class="icon icon-shape bg-gradient-danger rounded-circle text-white mb-3">
              <i class="ni ni-paper-diploma"></i>
            </div>
            <h6>High quality before everything</h6>
            <p class="description">We are following the latest code standards provided by the guys from Bootstrap, so you will love working with this design system.</p>
          </div>
          <div class="col-md-4">
            <div class="icon icon-shape bg-gradient-warning rounded-circle text-white mb-3">
              <i class="ni ni-favourite-28"></i>
            </div>
            <h6>Community helpers</h6>
            <p class="description">Since all our products are built on top of Open Source also Argon Dashboard is released under <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md">MIT License</a>.</p>
          </div>
        </div>
        <h3 id="resources-and-credits">Resources and credits</h3>
        <p>This Design System is fully coded and built on top of Open Source, more details here:</p>
        <ul>
          <li><a href="https://www.getbootstrap.com" target="_blank" rel="nofollow">Bootstrap 4</a> - Open source front end framework</li>
          <li><a href="https://jquery.com" target="_blank" rel="nofollow">jQuery</a> - Fast, small, and feature-rich JavaScript library</li>
          <li><a href="https://fonts.google.com/specimen/Open+Sans" target="_blank" rel="nofollow">Open Sans Font</a> - Google’s Open Source typefaces</li>
          <li><a href="https://github.com/stripe/elements-examples/#example-1" target="_blank" rel="nofollow">Stripe Elements</a> - Forms, Buttons and Elements</li>
        </ul>
        <h3 id="learn-more">Learn more</h3>
        <p>Stay up to date on the development journey and connect with us on:</p>
        <ul>
          <li>Follow <a href="https://twitter.com/creativetim" target="_blank" rel="nofollow">Creative Tim on Twitter</a>.</li>
          <li>Read and subscribe to <a href="http://blog.creative-tim.com" target="_blank" rel="nofollow">The Official Creative Tim Blog</a>.</li>
          <li>Follow <a href="https://www.instagram.com/creativetimofficial" target="_blank" rel="nofollow">Creative Tim on Instagram</a>.</li>
          <li>Follow <a href="https://www.facebook.com/creativetim" target="_blank" rel="nofollow">Creative Tim on Facebook</a>.</li>
        </ul>
        <h3 id="quick-start">Quick start</h3>
        <p><a href="quick-start.html" class="btn btn-primary my-4">Quick start here</a></p>
    {% endif %}
{% endblock %}
