{% if request.user.is_anonymous %}<br><form action="/login/" method="post">
   {% csrf_token %}
  <div class="form-group">
     <label for="id_username">Username:</label> 
     <input class="form-control" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
  </div>
  <div class="form-group">
    <label for="id_password">Password:</label>
    <input class="form-control" type="password" name="password" autocomplete="current-password" required id="id_password"></p>
  </div>
  <div class="form-group">
      <input type="submit" value="Login" class="btn btn-primary pull-right" />
  </div>
  {% if form.errors %}<p class=" label label-danger">
      Your username and password didn't match. 
      Please try again.
  </p>{% endif %}
</form>{% else %}
<h3>Hello, {{ user.username }}</h3>
<ul class="section-nav">
  {% if user.center %}<li class="toc-entry toc-h3"><a href="{% url 'center_details' user.center.id %}">{{ user.center.name }}</a></li>{% endif %}
  <li class="toc-entry toc-h3"><a href="{% url 'user_projects' %}">Projects</a></li>
  <li class="toc-entry toc-h3"><a href="{% url 'profile' %}">Profile</a></li>
  <li class="toc-entry toc-h3"><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endif %}
{% block rightsidebar %}{% endblock %}
