{% extends "base/page.html" %}
{% load static %}
{% block css %}
<style>
.hide {
  display: none
}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
{% endblock %}
{% block content %}
    <h1>Form Template for {{ project.name }}</h1>
    <hr>
    <p style="max-width:100%" class="alert alert-info">The purpose of this template is to track the progress of your project during the exploratory/planning (or pre-implementation), implementation, and sustainment phases. You will be seeing three versions of the template.  A version for exploration/planning, a version for implementation, and a version for sustainment.  When this template is on-line, these three templates will be completed when a TTC is in that particular phase.</p>
    {{ form.media }}
    <form id="templateform" method="POST" class="post-form">{% csrf_token %}    
    <br>
    <h2>1. Evidence-Based Intervention/Program/Service Being Implemented (WHAT)</h2>
    <div class="form-group">
        <textarea name="name" cols="40" rows="5" class="form-control" required id="id_name">
       </textarea> <span class="helptext">Describe your evidence-Based Intervention/Program/Service Being Implemented (WHAT)</span>
    </div>
    <div class="form-group">
        <label for="id_start_date">Project start date:</label> 
        <div class="input-group date">
            <input type="text" name="start_date" class="form-control" required id="id_start_date" dp_config="{&quot;id&quot;: &quot;dp_1&quot;, &quot;picker_type&quot;: &quot;DATE&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY&quot;}}"/>
            <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
                <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="id_end_date">Project end date:</label> 
        <div class="input-group date">
            <input type="text" name="end_date" class="form-control" required id="id_end_date" dp_config="{&quot;id&quot;: &quot;dp_2&quot;, &quot;picker_type&quot;: &quot;DATE&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY&quot;}}"/>
             <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
                 <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
             </div>
        </div>
    </div>
    <hr>
    <br>
    <h2>2. Target Audience (WHO)</h2>
    <div class="form-group">
        <label for="id_target_audience_disciplines">a) Specify target audience disciplines:</label>
        <textarea name="target_audience_disciplines" cols="40" rows="5" class="form-control" required id="id_target_audience_disciplines"></textarea> 
    </div>
    <div class="form-group">
        <label for="id_target_audience_roles">b) Specify roles:</label>
        <textarea name="target_audience_roles" cols="40" rows="5" class="form-control" required id="id_target_audience_roles">
        </textarea>
    </div>
    <label>c) Specify audience relationship to one another (Select all that apply):</label>
    <br><br>
     <div class="form-group">
         <span style="padding-right:20px" class="helptext">Multiple individuals across organizations:</span>
         <label style="float:right" class="custom-toggle" for="id_target_audience_across_orgs">
             <input type="checkbox" name="target_audience_across_orgs" class="form-control" id="id_target_audience_across_orgs">
             <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
         </label> 
    </div>

     <div class="form-group">
         <span style="padding-right:20px" class="helptext">Multiple individuals within an organization:</span>
         <label style="float:right" class="custom-toggle" for="id_target_audience_within_orgs">
             <input type="checkbox" name="target_audience_within_orgs" class="form-control" id="id_target_audience_within_orgs">
             <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
         </label> 
    </div>
     <div class="form-group">
         <span style="padding-right:20px" class="helptext">Multiple individuals or teams across organizations:</span>
         <label style="float:right" class="custom-toggle" for="id_target_audience_teams_across_orgs">
             <input type="checkbox" name="target_audience_teams_across_orgs" class="form-control" id="id_target_audience_teams_across_orgs">
             <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
         </label> 
    </div>
    <hr>
    <h2>3. Implementation Strategy (HOW)</h2>
    <p>Determine which of the following best describe the implementation strategies used in your project. They may be discrete, or multicomponent, or both. Then fill in the table below with your selections.</p>
<ul class="list-group">
  <li class="list-group-item"><strong>Evaluative and iterative strategies</strong><br> (e.g., Assess for readiness; Identify barriers and facilitators; Audit and feedback)</li>
  <li class="list-group-item"><strong>Interactive assistance</strong><br> (e.g., Facilitation; Technical assistance; Coaching; Clinical Supervision; Mentoring)</li>
  <li class="list-group-item"><strong>Adapting and tailoring strategies</strong><br> (e.g., Based on barriers or facilitators; Stage of readiness; Characteristics of the Intervention; Baseline performance)</li>
  <li class="list-group-item"><strong>Develop stakeholder relationships</strong><br> (e.g., Identify and prepare champions; Inform local opinion leaders; Build coalitions)</li>
  <li class="list-group-item"><strong>Train/educate stakeholders</strong><br> (e.g., Conduct ongoing training; Develop educational materials; Learning Collaborative; Practice Improvement Collaborative)</li>
  <li class="list-group-item"><strong>Support deliverers of the intervention/program/service</strong><br> (e.g. Reminders; Resource sharing agreements; Role revision)</li>
  <li class="list-group-item"><strong>Engage consumers</strong><br> (e.g., Involve consumers and family members; Use mass media or public service announcements)</li>
  <li class="list-group-item"><strong>Use financial strategies</strong><br> (e.g., Access new funding [time-limited grant or 3rd party insurance]; Provide incentives/allowance; Develop disincentives)
</li>
  <li class="list-group-item"><strong>Change infrastructure</strong><br> (e.g., Policy mandates; Alter physical environment)</li>
</ul>
   <p>(Use strategies from above; add or delete rows if needed):</p>
   <div class="table-responsive" id="table">
    <div>
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus" aria-hidden="true"></i></a></span>
        <table class="table align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="type">Type</th>
                <th scope="col" class="sort" data-sort="format">Format</th>
                <th scope="col" class="sort" data-sort="units">Planned Number of Units</th>
                <th scope="col" class="sort" data-sort="frequency">Frequency</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">     
            <tr class="hide">
                <td contenteditable="true" class="type">
                </td>
                <td contenteditable="true" class="format">
                </td>
                <td contenteditable="true" class="units">
                </td>
                <td contenteditable="true" class="frequency">
                </td>
                <td>
                  <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
            </tr>
            <tr>
                <td contenteditable="true" class="type">
                </td>
                <td contenteditable="true" class="format">
                </td>
                <td contenteditable="true" class="units">
                </td>
                <td contenteditable="true" class="frequency">
                </td>
                <td>
                  <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
            </tr>
    </table>
    <div class="form-group">
        <label for="id_implement_strategy_description">Implement strategy description:</label>
        <textarea name="implement_strategy_description" cols="40" rows="5" class="form-control" required id="id_implement_strategy_description">
        </textarea> <span class="helptext">Free Text Description (Provide a Description of the Planned Implementation Steps)</span>
    </div>

    <hr>
    <br>
    <h2>Contextual/determinant Considerations</h2>
    <p>(What facilitators {% if project.stage == 1 %}are anticipated{% elif project.stage == 2 %}are present{% else %}were present{% endif %} to aid implementation and barriers that {% if project.stage == 1 %} could hinder{% elif project.stage == 2 %}have hindered{% else %} hindered{% endif %} implementation?)</p>
    <div class="form-group">
        <label for="id_consider_system_factors">Consider system factors:</label>
        <textarea name="consider_system_factors" cols="40" rows="5" class="form-control" required id="id_consider_system_factors">
        </textarea> <span class="helptext">System factors--external to the organization (e.g., financing; mandates, community, culture)</span>
    </div>
    <div class="form-group">
        <label for="id_consider_org_factors">Consider organizational factors:</label> 
        <textarea name="consider_org_factors" cols="40" rows="5" class="form-control" required id="id_consider_org_factors">
        </textarea> 
        <span class="helptext">Organizational factors—internal to the organization (e.g., leadership; readiness)</span>
    </div>
    <div class="form-group">
        <label for="id_consider_clinical_factors">Consider clinical factors:</label>
        <textarea name="consider_clinical_factors" cols="40" rows="5" class="form-control" required id="id_consider_clinical_factors">
        </textarea><span class="helptext">Individual clinician factors (e.g., alignment with existing practice; complexity)</span>
    </div>
    <div class="form-group">
        <label for="id_consider_sustainment_strategy">Consider sustainment strategy:</label>
        <textarea name="consider_sustainment_strategy" cols="40" rows="5" class="form-control" required id="id_consider_sustainment_strategy">
        </textarea><span class="helptext">Sustainment strategies applied</span>
    </div>
    <div class="form-group">
        <label for="id_outcome_reach">Outcome reach:</label>
        <textarea name="outcome_reach" cols="40" rows="5" class="form-control" required id="id_outcome_reach">
        </textarea>
        <span class="helptext">Reach (# or percentage of population, what is the population, and how will you be measuring the outcome?</span>
    </div>
    <div class="form-group">
         <label for="id_outcome_effectiveness">Outcome effectiveness:</label>
         <textarea name="outcome_effectiveness" cols="40" rows="5" class="form-control" required id="id_outcome_effectiveness">
        </textarea> <span class="helptext">Effectiveness of Intervention/Program/Services (w/consumers), how will you measure it?</span>
    </div>
    <div class="form-group">
        <label for="id_outcome_adoption">Outcome adoption:</label>
        <textarea name="outcome_adoption" cols="40" rows="5" class="form-control" required id="id_outcome_adoption">
        </textarea> <span class="helptext">Number of providers? How will you be measuring it?</span>
    </div>
    <div class="form-group"><label for="id_outcome_quality">Outcome quality:</label> <textarea name="outcome_quality" cols="40" rows="5" class="form-control" required id="id_outcome_quality">
       </textarea> <span class="helptext">Implementation Fidelity/Adherence/Quality. How will you be measuring it?</span>
    </div>
    <div class="form-group"><label for="id_outcome_cost">Outcome cost:</label> <textarea name="outcome_cost" cols="40" rows="5" class="form-control" required id="id_outcome_cost">
       </textarea> <span class="helptext">Cost. How will you keep track of it?</span>
    </div>
    <div class="form-group"><label for="id_outcome_other">Outcome other:</label> <textarea name="outcome_other" cols="40" rows="5" class="form-control" required id="id_outcome_other">
       </textarea> <span class="helptext">Any other measures being planned?</span>
    </div>
    <div class="form-group">
        <label for="id_implementation_recruited">Implementation recruited:</label> <input type="number" name="implementation_recruited" min="0" class="form-control" required id="id_implementation_recruited"> <span class="helptext">How many participants will be recruited?</span>
    </div>
    <div class="form-group">
        <label for="id_implementation_participants">Implementation participants:</label> <input type="number" name="implementation_participants" min="0" class="form-control" required id="id_implementation_participants"> <span class="helptext">How many participants are enrolled?</span></div>
    <div class="form-group"><label for="id_implementation_enrolled">Implementation enrolled:</label> <input type="number" name="implementation_enrolled" min="0" class="form-control" required id="id_implementation_enrolled"> <span class="helptext"># (%) initiating implementation strategy (individuals, teams or organizations</span></div>
    <div class="form-group"><label for="id_implementation_completing_half">Implementation completing half:</label> <input type="number" name="implementation_completing_half" min="0" class="form-control" required id="id_implementation_completing_half"> <span class="helptext"># (%) completing 50% of implementation strategy activities</span></div>
    <div class="form-group"><label for="id_implementation_completing_majority">Implementation completing majority:</label> <input type="number" name="implementation_completing_majority" min="0" class="form-control" required id="id_implementation_completing_majority"> <span class="helptext"># (%) completing 80% or more of implementation strategy activities</span></div>
    <div class="form-group"><label for="id_results_reach">Results reach:</label> <textarea name="results_reach" cols="40" rows="5" class="form-control" required id="id_results_reach">
   </textarea> <span class="helptext">Reach (# or percentage of population, what is the population, and how will you be measuring the outcome?</span>
</div>
    <div class="form-group"><label for="id_results_effectiveness">Results effectiveness:</label> <textarea name="results_effectiveness" cols="40" rows="5" class="form-control" required id="id_results_effectiveness">
   </textarea> <span class="helptext">Effectiveness of Intervention/Program/Services (w/consumers), how will you measure it?</span>
</div>
    <div class="form-group"><label for="id_results_adoption">Results adoption:</label> <textarea name="results_adoption" cols="40" rows="5" class="form-control" required id="id_results_adoption">
   </textarea> <span class="helptext">Results available for number of providers?</span>
</div>
<div class="form-group"><label for="id_results_quality">Results quality:</label> <textarea name="results_quality" cols="40" rows="5" class="form-control" required id="id_results_quality">
   </textarea> <span class="helptext">Results available for implementation Fidelity/Adherence/Quality?</span>
</div>
<div class="form-group"><label for="id_results_cost">Results cost:</label> <textarea name="results_cost" cols="40" rows="5" class="form-control" required id="id_results_cost">
   </textarea> <span class="helptext">Results available for cost?</span>
</div>
<div class="form-group"><label for="id_results_other">Results other:</label> <textarea name="results_other" cols="40" rows="5" class="form-control" required id="id_results_other">
   </textarea> <span class="helptext">Results available for other?</span>
</div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
{% block scripts %}
<script>
var $TABLE = $('#table');

$("#templateform").submit(function(event){
    event.preventDefault()
    var form = $(this).closest('form');
    form = form.serializeArray();

     var $rows = $TABLE.find('tr:not(:hidden)');
     var data = [];

     // Turn all existing rows into a loopable array
     count = 0
     $rows.each(function () {
        var $td = $(this).find('td');
        console.log($td)

        // Use the headers from earlier to name our hash keys
        $td.each(function (i, col) {
            var classname = $(col).attr("class")
            if ((classname != "") && (classname != undefined)) {
                data.push({name: "strategy_" + classname + "_" + count, value: $(col).text()})
            }
        });
        count+=1
     });

    form = form.concat(data)

    $.post('', form, function(d) {
        if (d.error) {
           alert("There was a problem updating your user details")
        } 
    });

    // Output the result
    console.log(JSON.stringify(data));

})

$('.table-add').click(function () {
  var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide');
  $TABLE.find('table').append($clone);
});

$('.table-remove').click(function () {
  $(this).parents('tr').detach();
});
</script>
{% endblock %}
