<style>
.form-control:disabled, .form-control[readonly] {
    opacity: 1;
    background-color: #f7f7f7;
}
</style>
    <br>
    <h2>1. Evidence-Based Intervention/Program/Service Being Implemented (WHAT)</h2>
    <div class="form-group">
        <textarea name="name" cols="40" rows="5" class="form-control" required id="id_name" {% if disabled %}disabled{% endif %}>{{ form.name.value|default_if_none:"" }}</textarea> <span class="helptext">Describe your evidence-Based Intervention/Program/Service Being Implemented (WHAT)</span>
    </div>
    <div class="form-group">
        <label for="id_start_date">Project start date:</label> 
        {{ form.start_date }}
    </div>
    <div class="form-group">
        <label for="id_end_date">Project end date:</label> 
        {{ form.end_date }}
    </div>
    <hr>
    <br>
    <h2>2. Target Audience (WHO)</h2>
    <div class="form-group">
        <label for="id_target_audience_who">a) Who is the audience (including type of organizations):</label>
        <textarea name="target_audience_who" cols="40" rows="1" class="form-control" required id="id_target_audience_who" {% if disabled %}disabled{% endif %}>{{ form.target_audience_who.value|default_if_none:"" }}</textarea> 
    </div>
    <div class="form-group">
        <label for="id_target_audience_disciplines">b) Specify discipline(s):</label>
        <textarea name="target_audience_disciplines" cols="40" rows="1" class="form-control" required id="id_target_audience_disciplines" {% if disabled %}disabled{% endif %}>{{ form.target_audience_disciplines.value|default_if_none:"" }}</textarea> 
    </div>
    <div class="form-group">
        <label for="id_target_audience_roles">c) Specify roles:</label>
        <textarea name="target_audience_roles" cols="40" rows="1" class="form-control" required id="id_target_audience_roles" {% if disabled %}disabled{% endif %}>{{ form.target_audience_roles.value|default_if_none:"" }}</textarea>
    </div>
    <label>d) Specify audience relationship to one another (Select all that apply):</label>
    <br><br>
     <div class="form-group">
         <span style="padding-right:20px" class="helptext">Multiple individuals across organizations:</span>
         <label style="float:right" class="custom-toggle" for="id_target_audience_across_orgs">
             <input type="checkbox" name="target_audience_across_orgs" class="form-control" id="id_target_audience_across_orgs" {% if form.target_audience_across_orgs.value %}checked{% endif %} {% if disabled %}disabled{% endif %}>
             <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
         </label> 
    </div>

     <div class="form-group">
         <span style="padding-right:20px" class="helptext">Multiple individuals within an organization:</span>
         <label style="float:right" class="custom-toggle" for="id_target_audience_within_orgs">
             <input type="checkbox" name="target_audience_within_orgs" class="form-control" id="id_target_audience_within_orgs" {% if form.target_audience_within_org.value %}checked{% endif %} {% if disabled %}disabled{% endif %}>
             <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
         </label> 
    </div>
     <div class="form-group">
         <span style="padding-right:20px" class="helptext">Multiple individuals or teams across organizations:</span>
         <label style="float:right" class="custom-toggle" for="id_target_audience_teams_across_orgs">
             <input type="checkbox" name="target_audience_teams_across_orgs" class="form-control" id="id_target_audience_teams_across_orgs" {% if form.target_audience_teams_across_orgs.value %}checked{% endif %} {% if disabled %}disabled{% endif %}>
             <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
         </label> 
    </div>
    <hr>
    <h2>3. Implementation Strategy (HOW)</h2>{% if disabled %}{% else %}
    <p>Implementation strategies are the training and technical assistance services that you provide as part of the project. Determine which of the following categories best describe(s) the implementation strategies used in your project. Then fill in the table below.</p>
<ul class="list-group">
  <li class="list-group-item"><strong>Evaluative and iterative strategies</strong><br> (e.g., Assess for readiness; Identify barriers and facilitators; Audit and feedback)</li>
  <li class="list-group-item"><strong>Interactive assistance</strong><br> (e.g., Facilitation; Technical assistance; Coaching; Clinical Supervision; Mentoring)</li>
  <li class="list-group-item"><strong>Adapting and tailoring strategies</strong><br> (e.g., Based on barriers or facilitators; Stage of readiness; Characteristics of the Intervention; Baseline performance)</li>
  <li class="list-group-item"><strong>Develop stakeholder relationships</strong><br> (e.g., Identify and prepare champions; Inform local opinion leaders; Build coalitions)</li>
  <li class="list-group-item"><strong>Train/educate stakeholders</strong><br> (e.g., Conduct ongoing training; Develop educational materials; Learning Collaborative; Practice Improvement Collaborative)</li>
  <li class="list-group-item"><strong>Support deliverers of the intervention/program/service</strong><br> (e.g. Reminders; Resource sharing agreements; Role revision)</li>
  <li class="list-group-item"><strong>Engage consumers</strong><br> (e.g., Involve consumers and family members; Use mass media or public service announcements)</li>
  <li class="list-group-item"><strong>Use financial strategies</strong><br> (e.g., Access new funding [time-limited grant or 3rd party insurance]; Provide incentives/allowance; Develop disincentives)
</li>
  <li class="list-group-item"><strong>Change infrastructure</strong><br> (e.g., Policy mandates; Alter physical environment)</li>
</ul>
   <p>(Use strategies from above; add or delete rows if needed):</p>{% endif %}
   <div class="table-responsive" id="table">
    <div>
        {% if disabled %}{% else %}<span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus" aria-hidden="true"></i></a></span>{% endif %}
        <table class="table align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="type">Type</th>
                <th scope="col" class="sort" data-sort="format">Format</th>
                <th scope="col" class="sort" data-sort="units">Planned Number of Units</th>
                <th scope="col" class="sort" data-sort="frequency">Frequency</th>
                {% if disabled %}{% else %}<th scope="col"></th>{% endif %}
            </tr>
        </thead>
        <tbody class="list">
            <tr class="hide">
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="type">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="format">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="units" type="number" step="1">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="frequency">
                </td>
                {% if disabled %}{% else %}<td>
                  <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>{% endif %}
            </tr>{% if strategies %}{% for strategy in strategies %}
            <tr>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="type">{{ strategy.strategy_type }}
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="format">{{ strategy.strategy_format }}
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="units" type="number" step="1">{{ strategy.planned_number_units }}
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="frequency">{{ strategy.frequency }}
                </td>
                {% if disabled %}{% else %}<td>
                  <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>{% endif %}
            </tr>{% endfor %}{% else %}
            <tr>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="type">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="format">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="units" type="number" step="1">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="frequency">
                </td>
                {% if disabled %}{% else %}<td>
                  <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>{% endif %}
            </tr>{% endif %}
        </table>
        </div>
    </div>
    <div class="form-group">
        <label for="id_implement_strategy_description">Provide a description of the how the implementation strategies will occur:</label>
        <textarea name="implement_strategy_description" cols="40" rows="5" class="form-control" required id="id_implement_strategy_description" {% if disabled %}disabled{% endif %}>{{ form.implement_strategy_description.value|default_if_none:"" }}</textarea> <span class="helptext">Free Text Description (Provide a Description of the Planned Implementation Steps)</span>
    </div>

    <hr>
    <br>
    <h2>4. Contextual/determinant Considerations</h2>
    <p>(What facilitators {% if project.stage == 1 %}are anticipated{% elif project.stage == 2 %}are present{% else %}were present{% endif %} to aid implementation and barriers that {% if project.stage == 1 %} could hinder{% elif project.stage == 2 %}have hindered{% else %} hindered{% endif %} implementation?)</p>
    <div class="form-group">
        <label for="id_consider_system_factors">a) System factors--external to the organization (e.g., financing; mandates, community, culture):</label>
        <textarea name="consider_system_factors" cols="40" rows="5" class="form-control" required id="id_consider_system_factors" {% if disabled %}disabled{% endif %}>{{ form.consider_system_factors.value|default_if_none:"" }}</textarea>
    </div>
    <div class="form-group">
        <label for="id_consider_org_factors">b) Organizational factors—internal to the organization (e.g., leadership; readiness):</label> 
        <textarea name="consider_org_factors" cols="40" rows="5" class="form-control" required id="id_consider_org_factors" {% if disabled %}disabled{% endif %}>{{ form.consider_org_factors.value|default_if_none:"" }}</textarea> 
    </div>
    <div class="form-group">
        <label for="id_consider_clinical_factors">c) Individual clinician factors (e.g., alignment with existing practice; complexity):</label>
        <textarea name="consider_clinical_factors" cols="40" rows="5" class="form-control" required id="id_consider_clinical_factors" {% if disabled %}disabled{% endif %}>{{ form.consider_clinical_factors.value|default_if_none:"" }}</textarea>
    </div>
    {% if project.stage > 1 %}<div class="form-group">
	<label for="id_consider_sustainment_strategy">Consider sustainment strategy:</label>
	<textarea name="consider_sustainment_strategy" cols="40" rows="5" class="form-control" required id="id_consider_sustainment_strategy" {% if disabled %}disabled{% endif %}>{{ form.consider_sustainment_strategy.value|default_if_none:"" }}</textarea>
        <span class="helptext">Sustainment strategies applied</span>
    </div>{% endif %}
    <hr>
    <br>
    <h2>5. Implementation Process</h2>
    <div class="form-group">
        <label for="id_implementation_recruited">a) How will participants be recruited?</label> 
        <textarea name="implementation_recruited" cols="40" rows="5" class="form-control" required id="id_implementation_recruited" {% if disabled %}disabled{% endif %}>{{ form.implementation_recruited.value|default_if_none:"" }}</textarea>
    </div>
    {% if project.stage > 1 %}<div class="form-group">
        <label for="id_implementation_participants">b) How many participants are enrolled?</label> 
        <input value='{{ form.implementation_participants.value|default_if_none:"0" }}' step="1" type="number" name="implementation_participants" min="0" class="form-control" required id="id_implementation_participants" {% if disabled %}disabled{% endif %}> 
    </div>
    <div class="form-group">
        <label for="id_implementation_enrolled">c) # (%) initiating implementation strategy (individuals, teams or organizations</label> 
        <input value='{{ form.implementation_enrolled.value|default_if_none:"0" }}' type="number" name="implementation_enrolled" min="0" class="form-control" step="1" required id="id_implementation_enrolled" {% if disabled %}disabled{% endif %}> 
    </div>{% endif %}

    {% if project.stage > 2 %}<div class="form-group">
        <label for="id_implementation_completing_half">Implementation completing half:</label>
        <input type="number" value='{{ form.implementation_completing_half.value|default_if_none:"0" }}' name="implementation_completing_half" min="0" class="form-control" required id="id_implementation_completing_half" {% if disabled %}disabled{% endif %}> 
        <span class="helptext"># (%) completing 50% of implementation strategy activities</span>
    </div>
    <div class="form-group">
        <label for="id_implementation_completing_majority">Implementation completing majority:</label>
        <input type="number" value='{{ form.implementation_completing_majority.value|default_if_none:"0" }}' name="implementation_completing_majority" min="0" class="form-control" required id="id_implementation_completing_majority" {% if disabled %}disabled{% endif %}>
        <span class="helptext"># (%) completing 80% or more of implementation strategy activities</span>
    </div>{% endif %}

    <hr>
    <br>
    <h2>6. What Implementation/Sustainment Measures are being {% if project.stage == 1 %}planned{% else %}collected{% endif %}?</h2>
    <div class="table-responsive">
    <div>
        <table class="align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="outcome">Outcome</th>
                <th scope="col" class="sort" data-sort="measure">How {% if project.stage == 1 %}will{% else %}did{% endif %} you measure the outcome?</th>
                {% if project.stage > 1 %}<th scope="col" class="sort" data-sort="results">Results</th>{% endif %}
            </tr>
        </thead>
        <tbody class="list">     
            <tr>
                <td class="outcome">a) Reach (number of consumers who received the EBP. Ideally you might also know the number who were eligible to receive the EBP to calculate a percent)</td>
                <td tabindex="-1" contenteditable="true" class="measure">
		    <div class="form-group">
		        <textarea name="outcome_reach" cols="40" rows="5" class="form-control" required id="id_outcome_reach" {% if disabled %}disabled{% endif %}>{{ form.outcome_reach.value|default_if_none:"" }}</textarea>
		     </div>
                </td>
                {% if project.stage > 1 %}<td contenteditable="true" class="results" tabindex="-1">
		  <div class="form-group">
                      <textarea name="results_reach" cols="40" rows="5" class="form-control" required id="id_results_reach" {% if disabled %}disabled{% endif %}>{{ form.results_reach.value|default_if_none:"" }}</textarea>
		   </div>
                </td>{% endif %}
            </tr>

            <tr>
                <td class="outcome">b) Effectiveness of Intervention/Program/Services (w/consumers)</td>
                <td contenteditable="true" class="measure" tabindex="-1">
		    <div class="form-group">
			 <textarea name="outcome_effectiveness" cols="40" rows="5" class="form-control" required id="id_outcome_effectiveness" {% if disabled %}disabled{% endif %}>{{ form.outcome_effectiveness.value|default_if_none:"" }}</textarea>
		    </div>
                </td>
                {% if project.stage > 1 %}<td contenteditable="true" class="results" tabindex="-1">
		    <div class="form-group"><textarea name="results_effectiveness" cols="40" rows="5" class="form-control" required id="id_results_effectiveness" {% if disabled %}disabled{% endif %}>{{ form.results_effectiveness.value|default_if_none:"" }}</textarea>
		</div>
                </td>{% endif %}
            </tr>

            <tr>
                <td class="outcome">c) Adoption (number of providers who started using the EBP. Ideally you would also know the total number of providers to calculate a percent.)</td>
                <td contenteditable="true" class="measure" tabindex="-1">
		    <div class="form-group">
			<textarea name="outcome_adoption" cols="40" rows="5" class="form-control" required id="id_outcome_adoption" {% if disabled %}disabled{% endif %}>{{ form.outcome_adoption.value|default_if_none:"" }}</textarea>
		    </div>
                </td>
                {% if project.stage > 1 %}<td contenteditable="true" class="results" tabindex="-1">
		<div class="form-group"><textarea name="results_adoption" cols="40" rows="5" class="form-control" required id="id_results_adoption" {% if disabled %}disabled{% endif %}>{{ form.results_adoption.value|default_if_none:"" }}</textarea>
		</div>
                </td>{% endif %}
            </tr>

            <tr>
                <td class="outcome">d) Implementation Fidelity/Adherence/Quality</td>
                <td contenteditable="true" class="measure" tabindex="-1">
		    <div class="form-group"><textarea name="outcome_quality" cols="40" rows="5" class="form-control" required id="id_outcome_quality" {% if disabled %}disabled{% endif %}>{{ form.outcome_quality.value|default_if_none:"" }}</textarea>
		    </div>
                </td>
                {% if project.stage > 1 %}<td contenteditable="true" class="results" tabindex="-1">
		<div class="form-group"><textarea name="results_quality" cols="40" rows="5" class="form-control" required id="id_results_quality" {% if disabled %}disabled{% endif %}>{{ form.results_quality.value|default_if_none:"" }}</textarea> 
			</div>
                </td>{% endif %}
            </tr>
            <tr>
                <td class="outcome">e) Cost</td>
                <td contenteditable="true" class="measure" tabindex="-1">
		    <div class="form-group"><textarea name="outcome_cost" cols="40" rows="5" class="form-control" required id="id_outcome_cost" {% if disabled %}disabled{% endif %}>{{ form.outcome_cost.value|default_if_none:"" }}</textarea>
		    </div>
                </td>
                {% if project.stage > 1 %}<td contenteditable="true" class="results" tabindex="-1">
		<div class="form-group"><textarea name="results_cost" cols="40" rows="5" class="form-control" required id="id_results_cost" {% if disabled %}disabled{% endif %}>{{ form.results_cost.value|default_if_none:"" }}</textarea>
		</div>
                </td>{% endif %}
            </tr>
            {% if project.stage > 2 %}<tr>
                <td class="outcome">f) Maintenance/Sustainment</td>
                <td contenteditable="true" class="measure" tabindex="-1">
		    <div class="form-group"><textarea name="outcome_maintenance" cols="40" rows="5" class="form-control" required id="id_outcome_maintenance" {% if disabled %}disabled{% endif %}>{{ form.outcome_maintenance.value|default_if_none:"" }}</textarea>
		    </div>
                </td>
                <td contenteditable="true" class="results" tabindex="-1">
		<div class="form-group"><textarea name="results_maintenance" cols="40" rows="5" class="form-control" required id="id_results_maintenance" {% if disabled %}disabled{% endif %}>{{ form.results_maintenance.value|default_if_none:"" }}</textarea>
		</div>
                </td>
            </tr>{% endif %}
            <tr>
                <td class="outcome">{% if project.stage < 3 %}f){% else %}g){% endif %} Any other measures (including readiness for implementation)?</td>
                <td contenteditable="true" class="measure" tabindex="-1">
		    <div class="form-group"><textarea name="outcome_other" cols="40" rows="5" class="form-control" id="id_outcome_other" {% if disabled %}disabled{% endif %}>{{ form.outcome_other.value|default_if_none:"" }}</textarea>
		    </div>
                </td>
                {% if project.stage > 1 %}<td contenteditable="true" class="results" tabindex="-1">
		<div class="form-group"><textarea name="results_other" cols="40" rows="5" class="form-control" id="id_results_other" {% if disabled %}disabled{% endif %}>{{ form.results_other.value|default_if_none:"" }}</textarea>
		</div>
                </td>{% endif %}
            </tr>
    </table>
    </div>
    </div>
