<table class="table table-bordered" id="projects_table" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>{% for project in projects %}
        <tr>
            <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
            <td>{{ project.description | truncatechars:100 }}</td>
            <td><a href="{{ project.get_absolute_url }}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a>
                <a target="_blank" href="{% url 'view_project_form' project.uuid %}"><button type="button" class="btn btn-primary btn-sm" {% if project.form %}{% else %}disabled{% endif %}>View</button></a></td>
        </tr>{% endfor %}
    </tbody>
</table>

