{% extends "base/page.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px">
      <h1>{{ project.name }}</h1>
      <h4>
    </div>
  </div>
  {% if request.user.is_superuser and request.user.is_staff %}<div class="row" style="margin-bottom:20px">
      <div class="col-md-12"><a href="{% url 'admin:main_project_change' project.uuid %}">
          <button class="btn btn-primary">Edit</button></a>
      </div>
  </div>{% endif %}
  <div class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
            {% include "projects/project_table.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block pagescripts %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#details-table').DataTable();
});
</script>
{% endblock %}
